<!DOCTYPE html>
<html>
{% include head.html %}
<body>
  <div class="site-wrap">
    {% include header.html %}

    <div class="post p2 p-responsive wrap" role="main">
      <div class="measure">
        {{ content }}
      </div>
    </div>
  </div>

  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <ins class="adsbygoogle"
      style="display:block"
      data-ad-client="ca-pub-6468091135438144"
      data-ad-slot="4781636120"
      data-ad-format="link"></ins>
  <script>
  (adsbygoogle = window.adsbygoogle || []).push({});
  </script>

  {% include footer.html %}
</body>
</html>